[2015-09-22 08:38] valentin-dirken opened #2 "filter selected items."
Change :
scope.open = function () {
                    scope.isOpen = true;

[code]

TO :
scope.open = function () {
                    scope.isOpen = true;

[code]

like this, you can do in the controller :
contactsAPIservice.getEmployees()
        .success(function(response)
        {
            $scope.EmployeesSelected = [3,10,12];  // or from a service request
            $scope.Employees =

[2015-09-22 09:00] indrimuska commented on #2
Hi @valentin88, thank you for interesting in Angular Selector.

I'm not sure I'm understanding your problem, could you provide a Plunker, or at least give me a little context of where you're seeing it?

[2015-09-22 09:10] valentin-dirken commented on #2
I'm at work, I'm going to answer you tonight ;-) (I will edit this post)

[2015-09-22 14:16] debonair opened #3 "How to use a simple array of options"
Consider this

1.$scope.options = ['option1', 'option2'];
2.$scope.options [{label: 'option1', value:'option1'},{label: 'option1', value:'option1'}];

<select selector label-attr="label" value-atrr="value"></selector>

How do I make this work with option 1?

[2015-09-22 16:20] indrimuska commented on #3
Hi @debonair,

You have two ways to do that:

**1. Change your templates**

If the object in your array has not a "standard" form (I mean, a `label` and a `value` attribute) you could define a custom template for the dropdown and selected items.

[code]

Check out this [plunker](http://plnkr.co/edit/FwEfLdBeMYDYbLQ7RX7V?p=preview).

**2. Parse your array**

You could also create a shadow copy of y

[2015-09-22 16:29] debonair commented on #3
Thanks for the prompt response, these solutions work perfectly

[2015-09-22 16:29] #3 closed, assigned to nobody

[2015-09-22 16:38] indrimuska commented on #3
Glad to hear it! :+1:

[2015-11-05 03:32] scirelli opened #4 "Remote parameter question"
For some reason angular-selector adds a "q" param to the remote config. So that the encode params becomes "?q=&myparams=something" for all requests that have parameters. Can you remove this please?

[2015-11-05 11:39] indrimuska commented on #4
Hi @scirelli,
"q" param stands for "query", it is the name of the query key in an ajax request, in order to perform a server side filtering. The name of this parameter ("q" by default) can be updated according to the [`remoteParam`](https://github.com/indrimuska/angular-selector#options) and its value is always equal to the text you type in the selector field.

To be more clear, let's take the _Re

[2015-11-05 12:00] indrimuska commented on #2
Hi @valentin88,
Maybe you want to update your options dynamically from a remote request.

If so, you could check out these three plunkers or just take a look at the [demo site](http://indrimuska.github.io/angular-selector/):
- [Remote fetching](http://plnkr.co/edit/LsaOX3?p=preview) - server side filtering
- [Change options dynamically](http://plnkr.co/edit/G6UP4x) - dynamic change of options arra

[2015-11-05 13:33] scirelli commented on #4
Well, initially I'm trying to fill the select box from an ajax request that
is not filtered. So the get request needs no parameters. Yet angular-select
sends a "q" parameter. To get around this, in my remoteConfig I set

remoteConfig.param = ''

Now lets say I want to have an initial request with multiple params.  I
change remoteConfig.param to

remoteConfig.param = {param1:val1, param2:val2}

Whe

[2015-11-05 14:24] indrimuska commented on #4
Ok, now I better understand your problem. You have just ONE ajax request at initialization and you don't want to change the options depending on what users type.

If so, the simples way you have to do that is to initialize the `options` array from a manual ajax request like this:

[code]

[code]

This [Plunker](http://plnkr.co/edit/kThvpO?p=preview) shows the above use case for the country select

[2015-11-05 15:42] scirelli commented on #4
Okay. Thanks. That's pretty much what I ended up doing. Now I better
understand that the remote is not for initially filling the selectbox but
for filtering only.

thanks!

On Thu, Nov 5, 2015 at 9:24 AM, indrimuska notifications@github.com wrote:

##

Steve Cirelli
Cell: 347-618-1144
KK4FRG

Email Charter http://emailcharter.org/

[2015-11-05 15:47] indrimuska commented on #4
Delighted to help you to solve your problem! :+1:

[2015-11-05 15:47] #4 closed, assigned to nobody

[2015-11-11 17:10] sc8696 opened #5 "Input width calculation is broken"
shadow.width is not a function - line 332

Also occurs on the demo pages

Chrome 46

[2015-11-11 17:13] indrimuska commented on #5
Hi @sc8696,
Thank you for reporting this issue, this is due to a bug in the last commit.
Going to fix it asap.

[2015-11-11 17:25] indrimuska commented on #5
Check out the new [release `0.6.3`](https://github.com/indrimuska/angular-selector/releases/tag/0.6.3).

[2015-11-11 17:25] #5 closed, assigned to nobody

[2015-11-11 17:27] #2 closed, assigned to nobody

[2015-12-01 13:12] scirelli commented on #4
I have another question that I can't figure out.

I'm trying to loop over a config object using ng-repeat, and create
selector select boxes from the config. The config object contains the model
name and the options model name.

For example:

<span data-ng-repeat="fields in aQuerierFieldConfigs">

<select selector multi="fields.uiProps.multi" model="fields.uiProps.model"
options="fields.uiProps.opt

[2015-12-01 17:01] indrimuska commented on #4
Hi @scirelli,
`value-attr` is a one-way property, so if you have a variable that defines its value you got to surround it by double curly braces:

[code]

[2015-12-01 19:14] scirelli commented on #4
What about the "model" and "options" attributes? Those are the ones I'm
trying to set with a different value each iteration from the config object.

In the example above

[code]

On each iteration in ng-repeat, the model value will be the name of a
different model. I tried
   {{fields.uiProps.model}}
But I get a vague angular error.

So in my example the config object contains the string name of t

[2015-12-01 19:31] indrimuska commented on #4
To let you understand how Angular Selector works I created this Plunker that may help you:
http://plnkr.co/edit/0YMdkWSU2EZSoyXz4L5P?p=preview

It makes use of an `options` object to iterate multiple selectors.

[code]

Check it out and let me know if there's something you can't figure out yet.

[2015-12-02 00:47] scirelli commented on #4
Ah, I see what you are doing and I think I can make it work.

There's two things I just learned from your example.
1. I forgot I could use the this pointer in a controller. I was
   attaching everything to the $scope. I guess that's what I've been seeing
   mostly tutorials. I'm going to go read up on $scope, refresh my memory
   about it.
2. You created a model on the fly, attached to the config

[2015-12-02 08:35] indrimuska commented on #4
I can't deny I don't think I have completely understood your problems, but it seem you got a little bit confusion with one-way/two-way binding properties.

You don't have to write the name of the variable as _string_ (as you've done in `config = [ { myModelsName:"myModel", ...} ]`) to attach an object to another object. Remember that Angular still remain a javascript framework - with a little bit

[2015-12-06 05:40] vivek-mdrift-personal opened #6 "Issue with JSON Object and arrays"
Dear Indri Muska,

I was trying with your API example as given below....
$scope.remoteConfig = {
            url: "http://services.groupkt.com/country/search",
            transformResponse: function (data) {
                console.log(typeof data);
                // var str = data;
                // var json = JSON.stringify(eval("{"+"tags:" + str + "}"));
                // var myJsonString =

[2015-12-06 14:01] indrimuska commented on #6
Hi @mdrift-central,
I don't understand why you're saying that is necessary to convert the JSON array to a JSON object, which object/array are you talking about? I can't see any error with the code you posted.

However, if you want to manipulate the result array data with any of your functions (catcher) you simply have to manipulate the parsed data from a valid JSON string:

[code]

Let me know if

[2015-12-07 00:03] vivek-mdrift-personal commented on #6
Thanks Indri Muska,

Your suggestion helped me a lot... Thanks and keep up the good work...
So far, I found your library the best for tagging..

All the very best.

Regards,
Vivek

[2015-12-07 00:04] vivek-mdrift-personal commented on #6
Also, how do I call multiple RemoteConfig functions? Any suggestions?
I mean - other than separate controllers...

[2015-12-07 01:10] #6 closed, assigned to nobody

[2015-12-07 01:10] indrimuska commented on #6
Glad to see you've solved this issue. :smile:

With "multiple RemoteConfig functions", do you mean a kind of dynamic transformation callback for your ajax responses? If so, remember that the `remoteConfig` property is the same object passed to the native Angular `$http` service ([docs here](https://docs.angularjs.org/api/ng/service/$http#usage)), so you can use any valid options the service have.

[2016-01-02 09:19] mbustosp opened #7 "Wrong parameters' name"
Hi there, I was using your selector and I found that some of the parameters displayed on the documentation are wrong (i.e. groupAttr should be group-attr). I don't know how many of them have the same correction.

Have a nice day!
BTW: Excellent job!

[2016-01-06 14:10] indrimuska commented on #7
Hi @NorteSur, sorry for the late response.
The documentation illustrates every variable in `camelCase` naming system, but when you use them as html attribute you need to use `hyphen-case` naming system.
Thank you for the nice words :smile:

[2016-01-06 14:10] #7 closed, assigned to nobody

[2016-01-07 14:12] stevenvegt opened #8 "Demo page is broken"
The demo page is broken :(

Currently the rawgit resources return a 404. But, if you prepend them with cdn, it works.

This is expected, according to rawgit.com:

[2016-01-07 14:15] indrimuska commented on #8
Ouch! ok @stevenvegt, thank you for reporting this! :+1:

[2016-01-07 14:19] indrimuska commented on #8
FYI it has been changed from `rawgit.com` to `cdn.rawgit.com`.
Thank you again!

[2016-01-07 14:19] #8 closed, assigned to nobody

[2016-01-07 14:23] stevenvegt commented on #8
Wow, thats fast! :smile:

[2016-01-07 14:29] stevenvegt opened #9 "Feature request: ngChange alike attribute"
When someone changes the selection, I need to do some work. Currently I've implemented this by a watch on the model, but this is not very elegant. Most angular input directives now support ngChange to prevent this expansive method. Do you think angular-selector will benefit from such a callback method?

Thanks for this nice component!

[2016-01-07 15:51] indrimuska commented on #9
Mmhh interesting point, I think it could be an easy-to-implement feature request if this will help someone. I also think that Angular Selector needs some little optimizations but I don't have so much spare time to do that. Any PR will be accepted! :smile:

Anyway I will look into this in the next few days. :)

[2016-01-14 15:29] kmturley opened #10 "Add option to allow user inputted tags"
Love this plugin, so great. Supports everything I need except for user input. It would be great to have it as an option so the user could type and when they hit Enter or comma, the custom tag would be added to the dropdown and as a select input.

I've tried to implement myself using the following:

[code]

Then in the controller:

[code]

However this doesn't seem to update the dropdown list. I'm

[2016-01-14 23:08] indrimuska commented on #10
Hi @kmturley, very very good idea, tag creation would be definitely an awesome feature!

Your solution doesn't work because the select is replaced by other elements (see [`selector/selector.html` template](https://github.com/indrimuska/angular-selector/blob/master/src/angular-selector.js#L444)), one of which is a simple text input, so if you want to catch keyboard events you have to update Angular

[2016-01-15 11:20] indrimuska commented on #9
Hi @stevenvegt,
With the latest release you can have your onChange callback by providing `change` attribute to your elements like this:

[code]

Hope this could help you! :)

[2016-01-15 11:20] #9 closed, assigned to nobody

[2016-01-15 12:11] stevenvegt commented on #9
That's awesome! Thanks :+1:

[2016-01-16 06:28] donotdont opened #12 "How to do multi select of group?"
How to do multi select of group that use one option? link this
![screenshot from 2016-01-16 13 18 42](https://cloud.githubusercontent.com/assets/1459713/12370882/7ff41efc-bc54-11e5-9e00-d58122314c9b.png)
HTML
![screenshot from 2016-01-16 13 21 22](https://cloud.githubusercontent.com/assets/1459713/12370912/f4926dfe-bc54-11e5-8a12-a91d86beb576.png)
JS
![screenshot from 2016-01-16 13 20 35](https://

[2016-01-16 07:11] donotdont commented on #12
http://embed.plnkr.co/pyADrWc9tWq6X9K94Sa1/

[2016-01-17 14:06] indrimuska commented on #12
Hi @donotdont,
I really can't understand where your problem is, I need more information to figure it out.
Do you need help to select more than one value together?
Could you please tell me the steps to get into your scenario?

[2016-01-18 02:35] donotdont commented on #12
Hi @indrimuska ,
i mean select on once source option, ex. when i selected option on group number 1 => Current value as [0,1,2,3,4,5] in this picture, and i move to click select on group number 2. it's will not show option of selected on group number 1, Group number 2 show => Current value as [6,7,8,9,10, ... ].

[2016-01-18 10:36] indrimuska commented on #12
I don't know if I've followed the correct steps, that's what I've done:
1. I've selected all values from the FIRST select (label says "Group 1", but it's not the only one with this name)
2. I've clicked on the button below "Add"
3. I've changed my focus on the next select (label says "Group 2", and it's the only one!)
4. Now I see NO options

So I analyzed your code and I've created this [updated

[2016-01-18 10:36] #12 closed, assigned to nobody

[2016-01-18 11:07] donotdont commented on #12
Thank you very much.

[2016-01-23 23:40] kmturley commented on #3
I had the same issue, it seems like it would be really easy to support arrays as dropdown options. Two lines of code change... just add '|| option' to the ng-bind template:

angular-selector.js
lines 475 + 476

[code]

I've created a branch here away from my other commits:
https://github.com/kmturley/angular-selector/commit/b8480cdb89b4661095e7d1f5d8cebe791f70a194

[2016-01-26 22:54] kmturley opened #13 "Support a required attribute for html5 form validation"
At the moment if you add the required attribute to angular-selector, it's not passed to the nested form field template. This mean html5 form validation does to require it to be filled in.

Consider this example:

[code]

The title field will have html5 form validation, but angular-select will not, even though they both have a required attribute.

[2016-01-26 23:01] kmturley opened #14 "Use different class name for nested form fields"
In the 'selector/selector.html' template you are using the .selector class name in several places:

[code]

and

[code]

This class should really be the top level class, and the nested items should have a different class. E.g. if I wanted to run angular-selector directive as a class:

[code]

And in my html:

[code]

This would't work because selector is now used for the top-level element AND with

[2016-01-27 09:50] indrimuska commented on #13
Yes, adding `required` attribute won't work for Angular Selector.
I will work for a patch.

[2016-01-27 10:00] indrimuska commented on #14
Mmmm.. good point! Angular Selector is not available through directive class restriction "C", but it might be with this simple update.
Now, the "selector" class is listed in the root element and in the input field due to my laziness in repeating some css attributes in the stylesheet. :)

[2016-01-27 10:18] indrimuska commented on #3
@kmturley that's a great idea!
If you would like to open a PR, I will absolutely merge that into master branch. :+1:

[2016-01-27 13:58] kmturley commented on #3
@indrimuska I created it in a branch because it seems I can't have two pull requests open at the same time. Are you able to merge from this commit?
https://github.com/kmturley/angular-selector/commit/b8480cdb89b4661095e7d1f5d8cebe791f70a194

[2016-01-27 14:18] indrimuska commented on #3
Yes, you can't have 2 or more open PRs on a branch in the same time.
Unfortunately, I can't merge that commit because of the previous ones relating your other PR (if I merge that commit I have to merge all the previous ones).

Nevermind, I'll just add that feature. Next time, start a new branch from my `master` branch.
Thanks for looking into this man!

[2016-01-27 15:22] indrimuska commented on #3
I just pushed this out as 0.7.1. Thanks :)

[2016-02-01 11:16] indrimuska commented on #10
I'm going to close this since this feature is now available with [v0.7.2](https://github.com/indrimuska/angular-selector/releases/tag/0.7.2).
Thank you @kmturley! :)

[2016-02-01 11:16] #10 closed, assigned to nobody

[2016-02-12 16:28] #14 closed, assigned to nobody

[2016-02-18 20:12] indrimuska opened #17 "Remote property for custom services"
See #16

[2016-02-19 17:48] slavafomin opened #18 "Remove input field when in single entry mode"
Hello!

Thank you for this great module.

However, I would suggest to remove the input field when the control is in single selection mode and `create` option is disabled. That will make it look more like a classic `<select>` control.

Right now we have to hide the blinking cursor using CSS workaround.

Thank you!

[2016-02-19 20:10] indrimuska commented on #18
Hi @slavafomin, thank you for the kind words!

This seems an interesting suggestion, could you please provide me a little plunker example showing the behavior you've just described? Maybe this can be useful even for other users :)

[2016-02-20 11:38] indrimuska opened #19 "Create a standard coding style"
After @Nishchit14's advice, I decided to create a standard coding style ruleset. Users have to validate their code before submitting a PR, maybe using a grunt plugin to perform the action.

Here are some rules:
- indent using tabs, not spaces
- use semicolon at the end of line
- create strings with single quotes
- single line blocks can be used without curly brackets (i.e. `if (a == true) b = 'hel

[2016-02-20 15:10] scirelli opened #20 "Select Boxes with Remote Still Query While Disabled"
I have form fields that are hidden until the user chooses to fill out more advanced fields. i don't want these fields to make remote requests until they are available to the user. I assumed using disable, or disabled would stop the remote query, but it does not. Is there a way to prevent the selector from querying the server until I want it to?

[2016-02-20 23:14] indrimuska commented on #20
Hi Steve, you say that, even if the selector is disabled, you have some extra remote requests in your app.
I have just created this [plunker](http://plnkr.co/edit/1pvaCDBDEJSwUlFeaieS?p=preview) to verify the issue, but I can't see anything wrong in it. Can you give me a working example to check this behavior?

Anyway, you could simply wrap your selector and append a regular `ng-if` attribute to s

[2016-02-21 02:28] scirelli commented on #20
Open a debugger, go to the network tab, clear it, refresh the plunker page. The select
box is disabled, but you see the first request "http://services.groupkt.com/country/search?text=" which fills the selectbox.

What I was hoping was that when the selectbox was disabled or hidden it
would not make any queries.

In my case, as the user is filling out the form, the select boxes will
update based on

[2016-02-21 22:22] indrimuska commented on #20
Well, you're right. After initialization, the selector fetches data for the first time to populate the list. Anyway I don't know if this behavior needs to be avoided.

However, have you tried using a `ng-if` wrapper like this?

[code]

Check out [this updated plunker](http://plnkr.co/edit/1pvaCDBDEJSwUlFeaieS?p=preview) and let me know if this fits your needs.

[2016-02-21 22:39] scirelli commented on #20
I probably could. I'll give it a shot. Thanks!

On Sun, Feb 21, 2016 at 5:22 PM, indrimuska notifications@github.com
wrote:

##

Steve Cirelli
Cell: 347-618-1144
KK4FRG

Email Charter http://emailcharter.org/

[2016-02-23 03:27] scirelli opened #21 "Drop Down Scrollbars do not Work in IE"
When trying to scroll through a list in IE Edge (11), you can't do it, the drop down just closes.
[http://plnkr.co/edit/1pvaCDBDEJSwUlFeaieS?p=preview](http://plnkr.co/edit/1pvaCDBDEJSwUlFeaieS?p=preview)

In the above plunker, uncheck the disabled box, click on the selectbox, try to use the mouse to scroll through the items in the list.

[2016-02-23 12:10] #17 closed, assigned to nobody

[2016-02-23 12:43] indrimuska commented on #21
Thank you @scirelli for reporting this. Unfortunately I can't verify the issue at the moment, since I don't have any PC with IE Edge installed. Do you see the problem even in the [demo page](http://indrimuska.github.io/angular-selector/)?

[2016-02-23 13:03] scirelli commented on #21
I had to install a VM to test it myself. I'll take a look when I get on the laptop I installed the VM on.

You can Google for MS window IE11 Virtual machine. You'll get the Windows dev sit with vms you can download.
https://dev.windows.com/en-us/microsoft-edge/tools/vms/linux/

[2016-02-23 13:39] indrimuska commented on #21
Oh good, thank you for the tip! I will try it soon ;)

[2016-02-23 14:06] scirelli commented on #21
Just tried the demo page. Same issue. Scroll bars don't work. I guess the
scroll bar is outside the drop down area? Clicking outside hides the drop
down.

[2016-02-24 14:31] #19 closed, assigned to nobody

[2016-02-24 22:55] kmturley opened #23 "Clicking 'Add [custom-tag]' in dropdown doesn't work"
Where we added the new custom tag stuff it doesn't allowed you to click the custom tag to add it:

[code]

Suggest you modify to be:

[code]

And add the function to scope:

[code]

Which can be reused here too:

[code]

[2016-02-24 23:14] shlomiassaf opened #24 "Browser support missing, no sanity tests for browsers"
Hi,

Cool library, I liked the small size!

I'm using UI-Select and its a pain.
However I cant take the risk of porting to your library into production if I dont know the browser support level.

You should install a small sanity test routine for IE9+, chrome & firefox and mobile.

My main issues with UI Select is performance and size, its a lib built a long time ago

[2016-02-25 00:50] indrimuska commented on #23
Hey @kmturley, another nice contribution!
Thank you for this, give me 5 to add this feature.

[2016-02-25 01:03] #23 closed, assigned to nobody

[2016-02-25 01:04] indrimuska commented on #23
Now available in [v1.1.2](https://github.com/indrimuska/angular-selector/releases/tag/1.1.2).

[2016-02-25 01:21] indrimuska commented on #24
Hi @shlomiassaf, I know I should test this library for each browser in order to know their support, but I don't have the time to make these tests. If you're going to create some of these tests for your production app, I would appreciate very much if you'll share them, maybe with a pull request. :)

At the moment, the only known -unverified- issue for this argument is #21.

[2016-02-25 02:02] kmturley commented on #23
nice!!

[2016-02-26 02:01] scirelli commented on #21
I wrote a quick hack to try and get this to work in IE. It's not pretty, and I'm sure it's not efficient but maybe you can improve on it.

Here's the [merge](https://github.com/scirelli/angular-selector/commit/5b388672b1c23d6f83633ddc2f33d2085fbd53d5) on my fork.

Not sure why the indentations are messed up. I use spaces....

I don't want to pull request to your repo because I had forked yours, bu

[2016-02-26 09:27] indrimuska commented on #21
Yes, of course! Thank you for posting this, it would be very helpful.
I'm going to install a vm with W10 and IE Edge, so that I can take a look and then I'll come back to you. :)

[2016-02-26 10:15] indrimuska commented on #21
Here I am again. I've just installed Windows 10 Pro, but I am unable to reproduce the issue with Microsoft Edge, not even with IE 11. Maybe it may depends on the installed version of these browsers.
Here it is my situation.

| **Microsoft Edge** |
| --- |
| ![schermata 2016-02-26 alle 10 56 20](https://cloud.githubusercontent.com/assets/1561134/13349382/b647d544-dc79-11e5-9de7-aefef0472c6f.png) |

[2016-02-26 10:28] #20 closed, assigned to nobody

[2016-02-26 10:30] indrimuska commented on #20
In the end, I decided to patch this behavior. Give it a try and let me know if everything is ok!

[2016-02-27 00:25] scirelli commented on #21
I'm running the Windows 7 vm. You clicked and dragged on the scroll bar and it worked? Can you send me the plunker link?

![selection_001 png](https://cloud.githubusercontent.com/assets/1542072/13369059/a905dd96-dcbe-11e5-8670-700f5299d2eb.png)

[2016-02-28 19:28] C00per opened #25 "Custom filter and sorting"
Hi!
1. Is it possible to add the custom filter and sorting capability for the array in the "options" parameter?
2. Could you please explain how current filtering is working? It seems that used all fields for objects in the array in the "options" parameter, so objects without entered symbols are shown.
3. Is it possible to highlight entered sybmols that used for filtering?

[2016-02-29 07:02] sandeep-rajbhandari opened #26 "cancel previous request"
In your example of "Remote fetching with custom service" as i start writing the name of country it sends requests for every new letter typed.The request is as follows:
search?text=n
search?text=ne
search?text=nep
search?text=nepa
search?text=nepal
So what needs to be done if I want to cancel previous remote fetching request with new request requested?

[2016-02-29 16:03] thrilleratwork opened #27 "Overriding default backspace behavior"
When Angular-Selector is in single select mode, is there an option or an ability to override the default backspace behavior of removing the entire selection?

I would like ability to press backspace and instead of clearing the selected value, have the value prepopulated in the typeahead input and filter rerun for this value.

[2016-02-29 16:11] indrimuska commented on #21
Last tests have been made with Windows 10 on the [demo page](http://indrimuska.github.io/angular-selector/) and everything looks fine.
I've just installed a Windows 7 vm but, as for Windows 10, the scrollbar works very well.
Here it is the version of my IE.

![schermata 2016-02-29 alle 17 06 31](https://cloud.githubusercontent.com/assets/1561134/13400284/5d4a3f0a-df07-11e5-8d8a-5005750e5613.png)

[2016-02-29 16:19] indrimuska commented on #25
Hi @C00per.
At the moment filtering works with the native angular `$filter` service over the entire object. It would be very nice if users could be define a custom filtering function, are you interested in making a PR?

Regarding symbols highlighting, I don't have a solution to perform that action, since every user can define its own template for dropdown items. Maybe it can be done with a filter,

[2016-02-29 16:37] indrimuska commented on #26
Hi @sandeep-rajbhandari, I don't know if I've totally understand your question. When you type some text in the selector - using any remote configuration - you send a request anytime the input changes. Doing that, you'll be able to perform filtering in your backend system. You can't cancel previous requests, but you can delay your requests and then accept just the last one, something similar to [de

[2016-02-29 16:45] indrimuska commented on #27
Hi @thrilleratwork, at the moment Angular Selector doesn't have that feature, but I think it could be very useful. Would you like to contribute in making this real?

[2016-02-29 19:57] scirelli commented on #21
Idk, I still can't get it to work on the Win7 VM. Slightly different version
![screen shot 2016-02-29 at 2 56 39 pm](https://cloud.githubusercontent.com/assets/1542072/13407082/ae4eabe2-def4-11e5-9629-de0571cbb8a8.png)

[2016-03-01 08:31] C00per commented on #25
Hi @indrimuska.
I'm sorry, but I'm not enough qualified to make a PR (.

Custom filtering and sorting are useful features that allow use selector with complex objects. For now, I have to create the special array with simplified copies as a workaround.

But anyway angular-selector works as expected so I'm trying to migrate to it from buggy ui-selector.

[2016-03-01 22:07] indrimuska commented on #25
Ok, maybe custom filtering function could be one of the next features :)

[2016-03-01 23:31] #13 closed, assigned to nobody

[2016-03-01 23:32] indrimuska commented on #13
FYI this is now available in [v1.2.0](https://github.com/indrimuska/angular-selector/releases/tag/1.2.0). :)

[2016-03-02 02:26] kmturley commented on #13
amazing!! will check it out, I needed this to be able to put a red border around invalid fields

[2016-03-09 11:06] #27 closed, assigned to nobody

[2016-03-09 13:24] shrayasr opened #29 "Selector filter shows selected objects as well"
Hi, :hand:

We're facing an issue when we try to populate the selector with data received via a HTTP request.
## Steps to reproduce
- Get possible values via a HTTP request. Throw this inside the `options` variable that angular-selector looks inside (Say A,B,C,D)
- Get the pre selected values via a HTTP request. Throw these inside the `model` variable that angular-selector looks inside. This prese

[2016-03-09 13:47] indrimuska commented on #29
Hi @shrayasr, thank you for filing this and for providing a plunker. Very nicely written description! :)

This bug is due to a missing filtering of the dropdown list after every `value` update.
I will resolve this in a minute :)

[2016-03-09 13:50] #29 closed, assigned to nobody

[2016-03-09 13:51] indrimuska commented on #29
This fix is now available in [v1.3.1](https://github.com/indrimuska/angular-selector/releases/tag/1.3.1).
Thank you guys for reporting this issue :)

[2016-03-09 13:55] shrayasr commented on #29
You're very welcome :)

WOW :scream: You're awesome! Thanks a ton for such a quick fix. We owe you :blush: :+1:

[2016-03-14 16:33] C00per opened #30 ""model" is not cleared if items in "options" removed and options array isn't re-created."
Hi!
The Model property cleared well when I remove the item from options, and there are other properties. But it is not cleared if there was only one item in "options" and it was removed.

[2016-03-14 19:46] indrimuska commented on #30
Hi @C00per,
I am not able to reproduce that issue, this is the [plunker](http://plnkr.co/edit/xuWVQKM5K1ERznAE5uhO?p=preview) I've just created.
Could you please provide me a valid example showing your problem?
Thanks

[2016-03-14 22:40] C00per commented on #30
Hi @indrimuska,
Please see the [pluker](http://plnkr.co/edit/UsOCWkHVo74QyEnQjL79?p=preview).
The problem as I can see that we use `splice()` in different ways.

[2016-03-14 22:51] C00per commented on #30
So it works only when a copy of array is created
[plunker](http://plnkr.co/edit/bcI8WCwz3hzhFHWqyy1k?p=preview)

[2016-03-15 09:42] indrimuska commented on #30
OK, you're right, `options` array must be deeply $watched from the inside.
I'll fix it in a minute.

[2016-03-15 09:50] #30 closed, assigned to nobody

[2016-03-15 09:51] indrimuska commented on #30
`$watchCollection` should work fine, let me know if you have any troubles with this issue yet. :)

[2016-03-15 19:52] C00per commented on #30
@indrimuska, thank you! v1.3.2. works fine!

[2016-03-18 09:39] C00per opened #31 "Automatically close the list of options after choosing the item in multiple mode."
Hi,
Is it possible to have the option to close the list of items by choosing the item in the "multiple" mode?

[2016-03-21 08:56] indrimuska commented on #31
Hi @C00per, you can use the `api` property to close the selector every time the model changes (using the native `$watch` method). Have you already tried it?

[2016-03-21 09:05] C00per commented on #31
@indrimuska, I'll give it a try. However, It seems that using the `api` property is the too complicated solution.

[2016-03-21 09:17] indrimuska commented on #31
It's not so hard to implement, check out this plunker:
http://plnkr.co/edit/RsvH9LkSfwjq60sbMepR?p=preview

[2016-03-21 09:22] C00per commented on #31
Great! Thank you!

[2016-03-21 09:23] indrimuska commented on #31
You're welcome! :)

[2016-03-21 09:23] #31 closed, assigned to nobody

[2016-03-24 04:24] samuelsiau opened #32 "How to limited amount selected items/tags"
Hi there,

I really like your angular-selector. I need to limit the amount options sit inside the .selector-input. e.g 10 options. As a user can only pick 5. So all options are visible but a user would only be able to select up to 5.

[2016-03-27 22:19] andreialecu opened #34 "Cannot clear model/value with remote"
Because of https://github.com/indrimuska/angular-selector/blob/master/src/angular-selector.js#L417 any change to the `model` from code does not properly clear the value from the select box.

I'm not sure what the proper solution here is, but for now removing the `|| remote` check allows me to properly clear the model and get it reflected in the control.

[2016-03-29 08:26] indrimuska commented on #32
Hi @samuelsiau, this feature is not implemented yet, but it could be very useful for the all users. Anyway I don't have too much spare time to perform this in the next days, but if you want to make a PR I will be happy to review it. :)

[2016-03-29 08:44] indrimuska commented on #34
Hi @andreialecu, can you provide a valid example showing this issue? I've just tried this [plunker](http://plnkr.co/edit/OBANtX8fliQDyoeb1cYH?p=preview), but I am not able to reproduce the problem.

[2016-03-29 12:50] andreialecu commented on #34
Here's an example based on your Plunk:

http://plnkr.co/edit/SWVbujcrHorsBDbn66qC?p=preview

There is a second problem here however.

The underlying problem is hard to fix in this case, because the data from the remote may not be available, so I'm not sure how to fix the root of the problem to allow the dropdown to properly update itself when a remote is used.

Uncomment the line in `setBrowsers`

[2016-03-29 12:58] andreialecu commented on #34
One possible idea for the second problem is to implement something like:

[code]

[code]

[2016-03-29 13:15] andreialecu opened #35 "Feature requests for `create`"
Leaving a couple of requests here :)

1) Currently the `Add ...` item is not shown when `create` is specified and other items appear in the list.

For example, in the bottom dropdown here:
http://indrimuska.github.io/angular-selector/

I should be able to add "Ball" as a new item, but that is not possible.

Perhaps an attribute could be introduced, such as:

[code]

Where `canCreate` is a function

[2016-03-29 13:27] indrimuska commented on #35
Hi @andreialecu, regarding point 1, create label in the dropdown should always be visible, so it needs to be fixed.
Point 2. very nice feature request, I will work to make it real, but I don't know when, I don't have too much spare time these days.

[2016-03-29 17:24] indrimuska commented on #34
Ok, I forgot to add the remote configuration. Now I can see the problem and the solution you have proposed is correct, so let's go for it. About your second problem, it can be fixed by adding some other changes. Let me fix this in a minute.

[2016-03-29 17:33] indrimuska commented on #34
I've just released [v1.3.3](https://github.com/indrimuska/angular-selector/releases/tag/1.3.3), let me know if this solves your issues. :)

[2016-03-30 09:57] indrimuska commented on #35
FYI, [v1.3.4](https://github.com/indrimuska/angular-selector/releases/tag/1.3.4) is now out with the fix for point 1.

[2016-04-01 18:34] abelrgr opened #36 "Remote fetching example"
When attemp the "Remote fetching" example I cannot select the item when the list is retrieved:

![anim](https://cloud.githubusercontent.com/assets/1250071/14216401/879bc09e-f816-11e5-83cc-ce7bd005bfb3.gif)

My Chrome version are: Version 49.0.2623.110 (64-bit)

[2016-04-03 19:49] Seryal85 opened #37 "Custom directive"
How i can to add my custom directive with access to ngModel?

[2016-04-03 21:01] indrimuska commented on #34
I'm going to close this issue. Feel free to open it again if you still have any problem.

[2016-04-03 21:01] #34 closed, assigned to nobody

[2016-04-03 23:45] indrimuska commented on #36
Thank you @chule143 for reporting this, maybe this is caused by last fix on issue #34. I'm looking for a solution.

[2016-04-03 23:50] indrimuska commented on #37
Hi @Seryal85, I don't think I have totally understand your question. Can you please explain it more?

[2016-04-04 07:36] Seryal85 commented on #37
Hi, I want to make validation for select, I found that can to do by custom directive, but need to access to ngModel.

[2016-04-04 08:21] indrimuska commented on #37
Ok, you need to validate the field. You have two ways to achieve that goal:
- wrap the selector with your own custom directive and validate the model
- fork the project and customize it using `scope.value` attribute

It depends on how you perform validation (using native Angular APIs, or some other plugin).

[2016-04-04 09:58] Nishchit14 commented on #36
I face same bug on 1.3.2

1.1.4 works fine

[2016-04-04 12:17] Seryal85 commented on #37
Thanks, I'm using ng-message, therefore I think, first way is simply

[2016-04-04 15:26] indrimuska commented on #36
I've just released [version 1.3.5](https://github.com/indrimuska/angular-selector/releases/tag/1.3.5).
It should resolve this issue, please let me know if it still persists. :)

[2016-04-04 15:27] indrimuska commented on #37
Ok, I'm going to close this issue. If you need any other help feel free to comment again! :)

[2016-04-04 15:27] #37 closed, assigned to nobody

[2016-04-04 15:43] indrimuska commented on #26
I'm going to close this, since it could be achieved by using input debounce.

[2016-04-04 15:43] #26 closed, assigned to nobody

[2016-04-05 09:52] andreialecu commented on #35
Minor nitpick here, but the `Add ...` entry should be at the bottom, putting it at the top of the list is prone to user mistakes (at least in my app's case).

I worked around it by adding a fake entry at the end of the list as a placeholder which initiates the creation and setting `create=false` for now.

[2016-04-05 10:19] andreialecu commented on #34
This still doesn't work btw, check the plunker.

[2016-04-05 10:25] indrimuska commented on #34
GitHub CDN is not aligned to the last version of Angular Selector, you need to update the urls:
- http://rawgit.com/indrimuska/angular-selector/1.3.5/dist/angular-selector.js
- http://rawgit.com/indrimuska/angular-selector/1.3.5/dist/angular-selector.css

[2016-04-05 10:28] andreialecu commented on #34
They are, I see the same contents here: http://cdn.rawgit.com/indrimuska/angular-selector/master/dist/angular-selector.js as in the other one.

[2016-04-05 10:30] andreialecu commented on #34
Actually, hold on, the plunker works now, but my app doesn't. I'm looking into why now.

[2016-04-05 10:41] andreialecu commented on #34
I'm trying to create a repro, but the problem is here:

https://github.com/indrimuska/angular-selector/blob/master/src/angular-selector.js#L422

`scope.options.length` is `0` when the `newValue` comes in with `null`, so the `selectedValues` property is never cleared, and when the code runs `.updateValue()` here:

[code]

It sets it right back to `origin[0]` which is the same item I'm trying to cle

[2016-04-05 10:52] andreialecu commented on #34
@indrimuska Here's the new repro of the bug: http://plnkr.co/edit/Q6iuKmHJNlD2e8oSLHrb?p=preview

There is a line in the js without which everything works, but in real life apps, it will behave more like this repro.

Start typing `Safari`, select it, then click the button. Won't get cleared.

[2016-04-05 10:55] indrimuska commented on #35
I don't think that `Add..` label should be at the end of the dropdown, just because if the list has many entries you don't even know that this feature is available. Also, when you type something Angular Selector highlights first the first real item of the dropdown in order to help people choosing their value (simply by hitting <kbd>Enter</kbd>).

Anyway, you can change the basic template according

[2016-04-05 11:02] andreialecu commented on #35
I know, but the keyboard selection will be off if I just modify the template.

The problem with the `Add...` label being first is that it is preselected so if you just hit enter it will create a new entry instead of the selecting the first entry below, which is what they would want 99% of the time. I would be ok with it staying first if simply hitting enter would select whatever was underneath it.

[2016-04-05 11:06] andreialecu commented on #34
Unless you have a better fix in mind, adding this line seems to fix it:

[code]

[2016-04-05 11:18] andreialecu commented on #35
@indrimuska Here's a repro: http://plnkr.co/edit/VTLCNJlB4Thwh0gRlNwM?p=preview

With `remote` the `Add..` item is preselected, with `options` it works as expected.

[2016-04-06 06:22] Nishchit14 commented on #26
@indrimuska

I think @sandeep-rajbhandari  is trying to request for `debounce` property as we discussed earlier. Request will only send after we stop writing. Debounce period should be custom in ms like `debounce = 1000` will watch typing, if not get any event of typing within 1 second then call request.

Angular providing this as n-model-options, You can find it here [debounce](https://docs.angul

[2016-04-06 06:40] Nishchit14 opened #38 "Select a default value with remote fetching"
I am using two form one for add items and second for edit items. Now my problem is at add time i am fetching data from service and store item in database.

Now while at edit time i can't set previously saved selector value as default, At edit time also i am fetching data from service.

What i think should be.
I think while editing it, custom options can be set with array of single value of assigne

[2016-04-06 19:01] sugaaloop opened #39 "Question about performance with 500+ options"
I'm having performance issues when the option list is 500+ in size, any suggestions of how I could research improvements? Love the tool, by the way.

[2016-04-07 04:44] Nishchit14 commented on #39
You can use `remote` option and fetch data on demand rather than loading all data first.

[2016-04-08 11:25] sugaaloop commented on #39
Thanks for the idea @Nishchit14, however, loading data is not the bottleneck. Creating the select, and I suppose the several ng-repeats, is where the slowdown occurs.

[2016-04-10 15:26] indrimuska commented on #34
Well, what about this [plunker](http://plnkr.co/edit/sBeUUSzTt9eNib5bux2b?p=preview)? :)

**EDIT**
I think that in a normal scenario, if I don't use any remote configuration and I want to set a certain value (`null` included) the directive should look for an items in the options array. But what about the behavior when I use remote fetching?
Well, in this case I think that the directive should defe

[2016-04-11 15:12] indrimuska commented on #35
Ok, I'm looking for the reason why your example has that behavior

[2016-04-11 16:01] indrimuska commented on #35
Well, with any remote configuration the directive highlights the `Add..` label reserved for option creation, no matter where the label is placed (at the top or at the bottom of the dropdown list).
I found a fix and I'm just coding it.. :)

[2016-04-11 16:08] indrimuska commented on #35
[v1.3.6](https://github.com/indrimuska/angular-selector/releases/tag/1.3.6) is now out with this patch, waiting for your feedback! :)

[2016-04-11 16:13] indrimuska commented on #38
Hi @Nishchit14, it's a little hard for me to understand the question without an example that explains the scenario. Could you please provide a little working one? Thanks :)

[2016-04-11 16:23] indrimuska commented on #39
Yes @sugaaloop, I think so too, but I don't have the time to understand how to pack a fix to improve performances. If you have any idea or you are interested in contribution you're always be welcome! :)

[2016-04-14 08:09] Nishchit14 commented on #38
Hi @indrimuska ,

Its simple scenario
1) I have **`items`** in grid.
2) I want to update single **`item`** from list.
3) Click on edit icon of any row.
4) Modal(popup) will open with item's detail
5) Now this item has one key group as **`item.group`** (It is selected by selector)
6) So i want to set group value as default selected in selector when popup opens.
7) Then if i want to change it then u

[2016-04-14 08:33] indrimuska commented on #38
Ok, maybe I have understand the scenario, but I still don't understand where the problem stands.

Correct me if I'm wrong.
You have a lot of items with the same structure in a grid. Each of them has a `group` property that you want to be able to change. So, using a modal, you want to change the `group` of one these item by using _Angular Selector_ in a remote configuration. Right?

Well, what's th

[2016-04-14 08:37] indrimuska commented on #36
I'm going to close this issue, feel free to open again if the problem still persists.

[2016-04-14 08:37] #36 closed, assigned to nobody

[2016-04-14 08:38] Nishchit14 commented on #38
Yes perfectly,
My problem is how to set default selected `group` first time when modal open.

[2016-04-14 08:49] indrimuska commented on #38
Can't you just assign a default value at the initialization time? or when you open the modal?

[2016-04-14 08:59] Nishchit14 commented on #38
That's the problem
Do we have any example for this ?

I have value for model at initialization time but don't have dropdown options array. So how to set it ?

[2016-04-14 09:03] indrimuska commented on #38
I think I need a little similar working example, I cannot completely figure out the problem without it, sorry.

[2016-04-14 10:01] indrimuska commented on #35
Hi @andreialecu, in the last Angular Selector v1.3.7 I just added the ability to set a `Promise` for the `create` property. Check it out in the demo page ([Create custom options (using `Promise`)](http://indrimuska.github.io/angular-selector/)) and let me know if it mets your needs.

[2016-04-14 11:46] Nishchit14 commented on #38
Here is [plunkr](http://plnkr.co/edit/CXyv7sl1kH3x2Ikxy2PX).

I want to let `AF` as default selected by any trick. Because i am not firing any query if `search` is empty.

[2016-04-14 12:44] indrimuska commented on #38
I was completely out of the way, now I can understand your problem and it seems similar to #34. Let me make some tests and I'll come back to you.

[2016-04-14 13:55] indrimuska commented on #38
This is an [updated plunker](http://plnkr.co/edit/w9RLHU5re8wP6DqUft7v?p=preview) for your scenario.
It uses the same logic of [this comment](https://github.com/indrimuska/angular-selector/issues/34#issuecomment-207999152). What do you think about?

[2016-04-14 14:35] indrimuska commented on #38
The main problem is that if you manually set a given value to your model, I can validate that value only by using your service (or any other remote service). That would mean I have to fetch another remote request every time the `value` changes, and I don't think it should be the best behavior.

[2016-04-14 19:51] indrimuska opened #40 "Validate input after manual update of model (`value`) using remote fetching"
##### This is to choose the behavior of _Angular Selector_ in a remote configuration after model update performed "manually" by the user.
##
### Scenario

Let's take this example as scenario.
The only requirement is to set a remote configuration to fetch the results.

[code]

[code]
### Update

Using the example above, let's consider a user that updates `$scope.browsers` manually.

[code]
### The

[2016-04-14 19:53] indrimuska commented on #34
This conversation has been moved to #40.

[2016-04-14 19:54] indrimuska commented on #38
I'm going to close this issue and move the conversion to issue #40.

[2016-04-14 19:54] #38 closed, assigned to nobody

[2016-04-14 19:56] indrimuska commented on #35
Since all the requests have been marked as done, I'm going to close this issue. :)

[2016-04-14 19:56] #35 closed, assigned to nobody

[2016-04-14 19:58] indrimuska commented on #18
I'm closing this issue, feel free to open again when you have any suggestion to supply. :)

[2016-04-14 19:58] #18 closed, assigned to nobody

[2016-04-14 19:59] andreialecu commented on #40
There is an error in the plunker. It's not loading properly. Try it in incognito more, maybe you're seeing a different version.

[2016-04-14 20:25] indrimuska commented on #40
Yes, you're right, I forgot `$q.resolve([])` in script.js. I've updated the plunker now, check it out.

[2016-04-14 20:26] andreialecu commented on #40
Regarding option 1, keeping the previous value does not seem like proper behavior. It would simply disable loading persisted data for most forms, so you wouldn't be able to edit anything but only create things.

I don't see any other option here than the second one.

[2016-04-14 20:33] andreialecu commented on #38
The problem with the updated plunker is that it changes the API a bit and the implementor needs to take care that search may be an array. This is fine, but it needs to be labeled as a potential breaking change.

To understand what I mean, try changing countries to something like:
`$scope.countries = ["AF", "DE"];`

It won't work by default without further changes to the code.

[2016-04-14 21:36] indrimuska commented on #40
Option 2 generates another big problem:
How dow you check if the new `value` is correct? Obviously you need to launch a remote request in the same way you check if an option exists when users types something. But what if the value of each options is completely different from the corresponding label? What if I look for "FF" in the server side and no labels match this string?

To be more clear, let'

[2016-04-14 22:21] andreialecu commented on #40
That is why I suggested in https://github.com/indrimuska/angular-selector/issues/34#issuecomment-202880315 that a new attribute is introduced which takes a function which defines what happens in this scenario (I named it `remote-set` in that example, but it can be whatever..., `remote-load`?)

The server will know what `4` is supposed to be, but it will come from a different call than from the fre

[2016-04-14 22:37] andreialecu commented on #39
You can still use the remote option and filter your options within it to only return a few of them that match the user input, instead of the huge list.

[2016-04-16 11:06] indrimuska commented on #40
Since search and validation must return the full (filtered) objects array, I was thinking about using the same `remote` attribute for both requests, adding a second parameter:

[code]

This way, we can use `value` to return the objects that matches the needed requirements. Obviously, the second parameter will be passed to the function only for validation purpose, so that backend filtering queries

[2016-04-25 11:48] RushabhJoshi opened #43 "Not working with ng-if"
When I use select input with ng-if attribute it won't show any options

`<select ng-if="condition" selector multi="true" model="model" options="options" label-attr="label" value-attr="id"></select>`

[2016-04-25 11:51] indrimuska commented on #43
Hi @RushabhJoshi, you can't use `ng-if` directive with other directives that use a private scope.
You need to wrap your select inside another block like this:

[code]

[2016-04-25 12:25] #43 closed, assigned to nobody

[2016-04-25 12:32] RushabhJoshi commented on #43
Still no luck, Also tried in span tag

[2016-04-25 13:21] indrimuska commented on #43
Check out this plunker: http://plnkr.co/edit/BppzOSMEU8edgaasr3Pt?p=preview

[2016-04-27 12:59] RushabhJoshi commented on #43
I appreciate
and this is strange atleast your example shows options (I will see whats missing in my code), but in your example change does not reflect on browser model.

anyways solved a problem with ng-show
problem with prefill data in input,

Thanks

[2016-05-02 08:40] indrimuska commented on #40
This is the plunker showing the above behavior:
http://plnkr.co/edit/u8zgR4I2vAIGaIlLQzgb?p=preview

This allows to validate every value set by manual update using a custom validation function.

[code]

[code]

[code]

[2016-05-02 11:24] Seryal85 opened #44 "Doesn't two-binding for ng-model"
I have remote service 1 that it'is loading values for select (here - it's all OK) and I have other service 2 that it's loading value for model (when I set new value from service 2 for model then two-binding doesn't work - I have old value on view, but new value in model)

[2016-05-02 11:59] Seryal85 commented on #44
I resolved by adding to service 2 such construction
`$scope.$$childHead.setValue({value : $scope.month});
 $scope.$$childHead.updateSelected();`

[2016-05-02 11:59] #44 closed, assigned to nobody

[2016-05-04 12:30] indrimuska commented on #31
@C00per you can now use `closeAfterSelection` property.
Check out #45.

[2016-05-10 14:45] localyost3000 opened #46 "Change event never fires"
Assigning a function to change, the function is never called with the arguments promised.

controller.js

[code]

If `change="log"` it will never fire. If `change="log()"` it fires, but always with empty arguments.

[2016-05-10 14:51] indrimuska commented on #46
Hi @swimmadude66, you're not passing through the data in your HTML. Because of how Angular evals functions you need to pass the parameters you're trying to get to your log function in the HTML, like this:

[code]

[2016-05-10 14:51] #46 closed, assigned to nobody

[2016-05-27 15:19] codeyad opened #47 "nested value on property labelAttr"
hi, i would like to know a way to use nested values in the labelAttr, for esample if a have this data:

`[id:'kjj454544sa',
     profile:{name:'myname'}]`

how can i show the name value?

[2016-05-31 16:34] indrimuska commented on #47
Hi @codeyad, at the moment there's no way to do that with Angular Selector.
It requires some little updated at the directive, if you're interested to improve this feature I will be happy to review a pull request. :)

[2016-06-05 22:39] indrimuska commented on #40
In the end, I think that the solution proposed by @andreialecu would be the best, so that's why I will add some new attributes to Angular Selector in the next release: `remote-validation` and `remote-validation-param`. They will work in the same way `remote` and `remote-param` do. Any advice is welcome. :)

This will also let users define a default value in any remote scenario.
Plunker: http://pln

[2016-06-06 14:49] indrimuska commented on #26
FYI latest release [v1.3.10](https://github.com/indrimuska/angular-selector/tree/1.3.10) has a new **debounce** property.

[2016-06-06 15:09] indrimuska commented on #40
[Release v1.3.10](https://github.com/indrimuska/angular-selector/tree/1.3.10) contains new attributes to solve this issue (also #34, #38).

Plunker: http://plnkr.co/edit/sJk7uHJ3J3THjc5ilA43?p=preview
Please, check out ["Remote fetching and validation" example]() to understand how it works.

[2016-06-06 15:09] #40 closed, assigned to nobody

[2016-06-07 09:14] #47 closed, assigned to nobody

[2016-06-07 09:16] indrimuska commented on #47
FYI v1.3.12 supports nested objects.

[2016-06-07 09:42] indrimuska commented on #47
This plunker shows the behavior you needed.
http://plnkr.co/edit/EzzQZUxfsSbi8yThcOeG?p=preview

[2016-06-07 14:39] kanikagupta13 opened #48 "Issue with required validation"
Hi,

I am facing an issue while trying to implement the required validation. I am using angular's ng-messages to display the error message when the validation fails.

But the validation message does not get displayed although user is not able to submit the form if there is no value in the selector. The form valid and invalid bit is being set correctly. Please find the url of the plunk below:

http

[2016-06-07 15:02] indrimuska commented on #48
Mmhh interesting. There's no way at the moment to handle the native angular form's properties, but it could be with a little update in the template.

Does this plunker fits your needs?
http://plnkr.co/edit/nvdAVhrVGEQ9UBlCXe9a?p=preview

[2016-06-07 15:32] indrimuska commented on #48
Since Angular Selector uses two types of input (an hidden select and a text input) some features you're looking for are not available. The plunker above lets you handle the `$error` property when the required validation is set. Let me know which properties you also need for validation.
This will absolutely be a part of the next release.

[2016-06-08 08:29] kanikagupta13 commented on #48
Hi,
 The above plunker also creates one more issue as I have already tried it in my code.

. I have added the name attribute only to the input tag which is as follows as per plunker:

<input name="{{name}} Search" ng-model="search" placeholder="{{!hasValue() ? placeholder : \'\'}}" ng-model-options="{ debounce: debounce }"' +

[2016-06-08 09:10] indrimuska commented on #48
That's not totally correct, the only update I made in the template is this:

[code]

The name attribute in the `<input>` field was just a test, you need to handle only the `<select>` field.
The only issue I see in the plunker is at line 458, after removing the selected value. It can be resolved by updating the `setValue()` method like this:

[code]

If you also need to handle other properties like

[2016-06-08 09:32] kanikagupta13 commented on #48
I think if the above two changes are made then the problem will be solved. I can make a change to template but I cannot make a change to the js file. So I will wait for the next release. Thank you. :)

[2016-06-08 09:35] indrimuska commented on #48
Can you confirm that this plunker (http://plnkr.co/edit/tZdrO8163NSvMJ4VJk1J?p=preview) doesn't get you any error? I mean, try it in your use case...

[2016-06-08 09:46] kanikagupta13 commented on #48
The above plunk is getting me the same error in case of dependent selectors. I have created the following plunk depicting my scenario:

http://plnkr.co/edit/qAlBn5Y5qiZAuH6OGapn?p=preview

Steps to reproduce the issue:
1. Deselect the value from the Main Selector by clicking on 'x'.
2. See that there is no value in the dependant selector.
3. Now select the value in the main selector.
4. Click on t

[2016-06-08 09:57] indrimuska commented on #48
Ok thank you, now I am able to see the error, let me figure it out where the problem is and I'll come back you.

[2016-06-08 19:56] #48 closed, assigned to nobody

[2016-06-08 19:58] indrimuska commented on #48
@kanikagupta13 latest release [v1.3.13](https://github.com/indrimuska/angular-selector/releases/tag/1.3.13) solves your problems, check it out!

[2016-06-09 14:12] kanikagupta13 commented on #48
Thank you @indrimuska . It worked. :+1:

[2016-06-09 15:22] danbouckley opened #49 "Original select element should replicate input status classes"
I'm trying to implement form validation based on whether inputs have been interacted with. ie/ If a form input is required, and it already has currently value, removing that value should trigger an error message.

In angular-selector, the label element contains all styling, but the input containing the form validity / interaction classes (dirty, pristine etc) is too far down the DOM tree to apply

[2016-06-10 13:45] kanikagupta13 opened #50 "The initialization of default value should work even if the value is initialized before fetching the list"
The values in my selector are not getting initialized. The scenario is that I have a saved object in the database that I am fetching but my lists are getting populated after I fetch the item.

I think the watch on options should make share that the correct selected values are displayed. Below is the plunk for the behaviour.

http://plnkr.co/edit/D2wLxtgF2oOjTUVvdYrX?p=preview

In this my model bro

[2016-06-10 16:19] indrimuska commented on #49
Hi @danbouckley, as you're not the only one to request such kind of feature, I decided to add standard model controller properties behavior to the hidden select in the template.

It could also be useful for #13, #37, #48.

[2016-06-10 17:08] indrimuska commented on #49
This is now available in the latest release: [v1.3.14](https://github.com/indrimuska/angular-selector/releases/1.3.14).

This plunker shows the behavior:
http://plnkr.co/edit/P6vB8jVhFj8h1WgDWZtr?p=preview

[2016-06-10 17:18] indrimuska commented on #50
Hi @kanikagupta13, this should be handled using `remote` and `remote-validation` properties.
Give me 5 minutes to write a plunker, in the meantime you can read about these properties in the README file. :)

[2016-06-10 19:03] indrimuska commented on #50
Check out this plunker and let me know if it fits your needs :)
http://plnkr.co/edit/PcbDYNZqdNxKoEnFWv63?p=preview

[2016-06-10 20:50] danbouckley commented on #49
Thanks for the update, it's very appreciated! Thanks.

[2016-06-13 08:21] kanikagupta13 commented on #50
hi @indrimuska . Thank you for the solution. :)

I was thinking if it is possible to use the remote or some other way without promises as well, then it will be great as I will have to inject promises everywhere in my app even for lists that are being loading synchronously. But for now, I will use this. Please let me know if there is any future scope of handling this without the use of promises.

T

[2016-06-13 10:47] indrimuska commented on #50
Well, I don't think that it makes sense to have a `remote` property without a Promise.
My advice for you is to understand the power of promises and the design pattern around them. You can also change your `options` without using a promise, but your code won't surely become so easy to handle and manage.

If you want to try, you can start using this plunker that doesn't make use of `remote` property

[2016-06-13 10:47] #50 closed, assigned to nobody

[2016-06-15 10:17] kanikagupta13 opened #51 "Can we use angular filter with list specified in options attribute"
Hi,

In angular, for lists there are various filters which can be applied to the list in html. One example of it is orderBy which sorts the list and as a result we don't have to apply this filter in the backend code.

Is there any way to include the angular filters or custom filters written in options of angular selector?

[2016-06-16 15:30] indrimuska commented on #51
Nope, there's no way to apply angular's filters, you can just create a kind of workaround like this: http://plnkr.co/edit/FtPBzwexMN4EhW4QqxKp?p=preview

[2016-06-16 15:35] kanikagupta13 commented on #51
hi @indrimuska . Thank you for the workaround. But it doesn't completely solve the issue with my application. Is there any future scope of handling these filters within options?

[2016-06-16 15:37] indrimuska commented on #51
Yes, of course. I don't have the time to implement it now due to my busy schedule, but I will appreciate any PR or help from anyone! :)
Let's move this thread to #25.

[2016-06-16 15:37] #51 closed, assigned to nobody

[2016-06-16 15:39] kanikagupta13 commented on #51
Ok. Thank you. :)

[2016-06-27 11:44] sajeeshe opened #52 "Getting Selected Value"
Hi,
I am trying to use this plugin. Its working nice but one issue is when I post the form I get object instead of the selected value. I tried my best but no luck. Can you help me to resolve this please ?

My major problem is I have to use this in a ng-repeat loop.

[2016-06-27 11:49] sajeeshe commented on #52
this is how I get in my php file

[frmMerchant] => object:2807
    [frmVenue] => object:2815

[2016-06-27 13:43] indrimuska commented on #52
Hi @sajeeshe, have you set the `value-attr` property?
https://github.com/indrimuska/angular-selector#options

[2016-06-27 14:51] sajeeshe commented on #52
Yes but still getting the same
On Jun 27, 2016 7:13 PM, "indrimuska" notifications@github.com wrote:

[2016-06-27 20:51] indrimuska commented on #52
Ok, could you please provide a plunker or a working example showing that?

[2016-06-30 09:06] danbouckley commented on #49
Sorry to try and re-open this issue, but unfortunately it's not working 100% as intended. The select element is getting both ng-pristine and ng-touched when a value has been removed from the selector. (This is available in your plunker)

[2016-06-30 18:06] indrimuska commented on #49
Well, if I remove an item form the selector (or I just click-in and click-out the selector) I get `$pristine` and `$touched` to a truthy value. Do you think that after removing a value `$pristine` should be `false`?

[2016-07-01 08:55] danbouckley commented on #49
This is correct, $pristine should be set to false and $touched should be true. Would it also be possible to set the $dirty property as well? ie/ If we have selected a new value, or entered text into the input

This would be a huge help!

[2016-07-01 09:14] indrimuska commented on #49
Ok, let's resolve this!

[2016-07-01 09:22] #49 closed, assigned to nobody

[2016-07-01 09:24] indrimuska commented on #49
Check out [v1.3.16](https://github.com/indrimuska/angular-selector/releases/1.3.16), this should solve your problems. Let me know if it works as expected.

[2016-07-05 11:00] shanmugam-siva opened #54 "Selected Item not highlighted on the list"
Hi
I am using this component. It works great. I have an issue highlighting the selected item on the list. When you select an item using your mouse or up /down arrow, the selected item is highlighted when you open the list again but when you select the item by typing complete text and enter key always first item in the list is highlighted when you open the list again.

Could  you please help to res

[2016-07-06 12:29] indrimuska commented on #54
Hi @shanmugam-siva, to have the behavior you want it needs a bit of time to code a solution.

The main problem is that when you filter the list (by typing something) `filteredOptions` array contains less (or equals) values than the full `options` array. Since the `highlighted` index refers to the filtered array, you need to find the index of the selected option in the original `options` array, in

[2016-07-06 15:16] shanmugam-siva commented on #54
Thanks. I am trying to create new pull request with changes on my local branch but I don't have sufficient permission.

[2016-07-06 15:21] indrimuska commented on #54
First fork the project: https://help.github.com/articles/fork-a-repo/

[code]

Then, just create a new branch from the master branch:

[code]

or use the GitHub desktop application:

![schermata 2016-07-06 alle 17 20 26](https://cloud.githubusercontent.com/assets/1561134/16623383/02004738-439e-11e6-8474-ec1de543375e.png)

Last, but not least, create a pull request:
https://github.com/indrimuska/an

[2016-07-21 12:47] indrimuska opened #57 "Typing and selecting an option with remote fetching causes invalid values"
### Plunker

http://plnkr.co/edit/CGY47bqX0dLnFkrVY3aB?p=preview
### Scenario
- Multiple select
- Remote fetching
- No remote validation
### Steps to reproduce the issue
1. type "f" in the input field
2. press <kbd>Enter</kbd>

[2016-07-25 10:37] #54 closed, assigned to nobody

[2016-07-26 15:51] danbouckley opened #59 "Equivalent of updateOn : blur"
Hi!

I wonder if it would be possible to implement something that emulates ng-model-options="{ updateOn : 'blur' }" - specifically in relation to the 'close' button behaviour.

I have this selector implemented with `required` validation, and styles to show when there is an error. The side affect of this, is that there is error styling after clicking the 'close' button as it clears my selection, an

[2016-07-26 17:23] indrimuska commented on #59
Hi @danbouckley, sure this make sense!

I think you can try to use the model controller properties like `$pristine`/`$dirty` or `$valid`/`$invalid` to achieve that goal.

[code]

---

Please, try this configuration and let me know if it fits your needs:

[code]

[code]

[code]

[2016-07-28 14:35] danbouckley commented on #59
I've implemented your configuration as a Plunker: http://plnkr.co/edit/YL7IZ6uQtSeQBEGQRkly?p=preview

You can see what i'm talking about when selecting an item, and then removing that item from the selector (via the close button) - unfortunately the selector is red. I would like the error styling to appear after leaving the selector blank, not when selecting an item, which emulates the updateOn :

[2016-08-04 08:36] indrimuska commented on #59
Well, to have such a behavior, we need to implement two model properties inside the directive, `$viewValue` and `$modelValue`. Since there's only one property in the directive's scope, called `$scope.value`, those are synced, they have the same value every time.

There's needed a little time I don't have at the moment to pack a solution, but if you want to propose a PR I'll be glad to review it fo

[2016-08-04 09:48] indrimuska commented on #52
I'm going to close this issue, feel free to open again if you still find any problems. :)

[2016-08-04 09:48] #52 closed, assigned to nobody

[2016-08-04 21:59] kb0pul opened #60 "scope.filterOptions bug"
I noticed that the drop down list always scrolls to the bottom of the drop down list when you open it.  I am using single select mode, value-attr and label-attr properties for setup.  Upon further investigating I got JS errors popping up after you delete a selection from the list.  I traced the issue down to the scope.filterOptions function, and specifically the else block:

[code]

An if check fo

[2016-08-18 12:43] indrimuska commented on #60
Hi @kb0pul, I'm sorry for the late response.
I've just verified the bug, let me fix this in a minute.
Thank you for reporting this. 👍

[2016-08-18 12:48] #60 closed, assigned to nobody

[2016-08-18 12:50] indrimuska commented on #60
Check out the new release [v1.4.3](https://github.com/indrimuska/angular-selector/releases/tag/1.4.3) with this fix.
Thank you again tracing this issue and for reporting it.

[2016-08-26 12:38] #32 closed, assigned to nobody

[2016-08-26 12:41] indrimuska commented on #32
FYI this feature is now available in the latest version [1.5.0](https://github.com/indrimuska/angular-selector/releases/tag/1.5.0).

[2016-09-09 15:49] Albert0Garcia opened #63 "Does not pass 508 Complience"
While the control itself work fine, the emitted html does not pass 508 compliance.
Using both the SortSite tool or the WAVE Evaluation Tool (can be found in Chrome or FireFox extenstions)

[2016-09-12 20:25] indrimuska commented on #63
Hi @Albert0Garcia, I don't know the rules to pass 508 compliance.
Do you have any suggestion or help to achieve that? Would you like to propose a PR?
Thanks. :)

[2016-09-14 11:42] Albert0Garcia commented on #63
I don't know what a PR is, I am more than willing to share with you the
modification I made to get it to pass 508 compliance. It was a very minor
change to the html.

On Sep 12, 2016 4:25 PM, "indrimuska" notifications@github.com wrote:

[2016-09-14 18:40] indrimuska commented on #63
PR stands for Pull Request ([read more](https://help.github.com/articles/about-pull-requests/)), it is required to merge your updates into this repository if you want to share your changes :)

[2016-10-05 05:36] esajeesh opened #64 "Keyboard Tab"
Hi,
Like normal combo box , the selection is not working if I am using keyboard tab. Is it possible to do it ?

[2016-10-08 08:12] indrimuska commented on #64
Hi @esajeesh, I don't understand what you are trying to do. Could you please further argue your issue? Thanks

[2016-11-03 21:11] stephanebruckert opened #65 "Focus on load?"
Hello,

I would like to do a `focus()` on `api="countriesAPI"` on page initialization.
How would I do that?

Thanks!

[2016-11-04 15:28] ssotomayor commented on #57
@indrimuska This has another issue as well. Selected options are removed after fetching in a multi selector.

Same scenario. Same plunker.

### Steps to reproduce the issue
1. Click the selector
2. Select 3 options, say, Afghanistan - Aland Islands - Albania
3. Type "Bra" to get "Brazil"
4. Select "Brazil".

[2016-11-04 16:09] ssotomayor opened #66 "Selected elements are removed after fetching remote data in a multiple selector"
Selected options are removed after fetching in a multi selector.

Plunker (same as #57): http://plnkr.co/edit/CGY47bqX0dLnFkrVY3aB?p=preview

### Steps to reproduce the issue:

Click the selector
Select 3 options, say, Afghanistan - Aland Islands - Albania
Type "Bra" to get "Brazil"
Select "Brazil".

Notice  "Afghanistan - Aland Islands - Albania" are removed after selecting "Brazil".

[2016-11-04 18:35] indrimuska commented on #66
Duplicate of #57.

[2016-11-04 18:35] #66 closed, assigned to nobody

[2016-11-09 22:25] indrimuska commented on #65
Hi @stephanebruckert, assuming that you are using a similar piece of code to the one in the demo page, you just need to add this other piece to your controller:

[code]

Hope this could help you!

[2016-11-15 10:16] tkahn commented on #21
I can verify that this is a bug on Windows 7 IE11. We are two independent testers that have seen the same issue and the problem is that the blur event tied to the input is triggered when the user interacts with the scrollbar.

[2016-11-17 23:09] #65 closed, assigned to nobody

[2016-11-22 20:53] stephanebruckert opened #67 "Always leave dropdown list open"
Hi,

I would like to keep the dropdown open all the time.

I'm already [adding the focus on load](https://github.com/indrimuska/angular-selector/issues/65), and I added a directive to prevent the dropdown list from closing when the selector looses focus.

[code]

@indrimuska, would you be happy to see a PR that incorporates that feature inside angular-selector?

Thanks

[2016-11-27 15:45] indrimuska commented on #67
Thank you @stephanebruckert for proposing this!
I think that this is an application level feature, what if I have about 10 selector in the same page? I don't want all of them to open at startup at the same time, so it's better to let users choose what to do in this case.

Anyway, thank you for spending your time in this project 👍

[2016-11-27 15:45] #67 closed, assigned to nobody

[2016-12-07 06:16] shtimn opened #68 "Create new custom option on enter."
Hi,

Now a new option is created only on click on the link "Add ...".
Prease, add the ability to create new custom  option on enter

Thanks.

[2016-12-09 10:19] matt212 opened #69 "Remote search issues"
Hi,
my issues is  my search api url is /colum/words not search?colum=words .
Could you please provide pointers wherein i can configure this plugin for /colum/words

[2016-12-11 15:57] indrimuska commented on #68
Hi @shtimn, I am able to set a value by hitting <kbd>ENTER</kbd>.
Actually I see a different issue: it does not highlight the `Add ...` label using down arrow when no other items are listed in the dropdown. But, if I hit the upwards arrow the item is highlighted and selectable with the ENTER button.

[2016-12-11 16:09] indrimuska commented on #69
Hi @matt212,

You can simply set a Promise object as `remote` property and build your own url.

[code]
[code]

Note:  `$http` service already returns a promise, so you don't need to wrap it yourself.

[2016-12-11 16:09] #69 closed, assigned to nobody

[2016-12-11 16:11] indrimuska commented on #64
I'm going to close this issue. Feel free to open it again if you have any trouble.

[2016-12-11 16:11] #64 closed, assigned to nobody

[2016-12-13 07:31] matt212 opened #70 "ng-template tag conflicts with ngdialog"
Hi,
could we have some alternative of ng-template script tag for selector since there are issues integrating ngdialog box with angular selector .
below is the plunker for your reference
http://plnkr.co/edit/LTqFbqiRsf27ZZUH02nY?p=preview

[2016-12-19 11:06] matt212 opened #71 "Cannot read property 'then' of undefined"
Hi ,

Again awesome multiselect plugin . i am want to pass dynamic return type for multiple (multiselects) and hence assign value through global scope base.multiselectname and base.multiselectID and I am getting this error
![isues](https://cloud.githubusercontent.com/assets/1698139/21310617/351d4d9e-c609-11e6-80e8-b555920e804e.png)

My code base

[code]
and html part of code

[code]

[2016-12-19 11:19] matt212 commented on #71
the issue was remote="remote2" tag in my second instance of multiselect

[2016-12-19 11:19] #71 closed, assigned to nobody

[2016-12-19 11:58] matt212 commented on #69
Hi,
i wanted to format the response from $http which involves promise when i use one i am getting this error
![promise issue](https://cloud.githubusercontent.com/assets/1698139/21312124/929e006a-c610-11e6-8fff-3db0a73c1f49.png)

[2016-12-30 18:42] matt212 opened #72 "Promise implementation in remote population"
Hi,

In reference to your  solution  mentioned in below pointers
https://github.com/indrimuska/angular-selector/issues/69#issuecomment-266290433
I have one query, how to implement  provided solution with below  codebase

[code]
wherein getdetails is factory methods

[code]

[2017-01-03 11:16] matt212 commented on #72
I solved the issue , implementing custome api call methodology and tweaking it, in order to  work with my rest auth and post methods !
http://plnkr.co/edit/YdzF58o9ykYvMwP5Udza?p=preview

[2017-01-03 11:16] #72 closed, assigned to nobody

[2017-01-03 11:20] matt212 commented on #70
I resolved it by seperating ng dialog container and multiselect container into different html components by using custom serverside components containers like multiselect.html and modalovelay.html and passing scope through it !

[2017-01-03 11:20] #70 closed, assigned to nobody

[2017-01-03 11:24] matt212 commented on #57
Hi guys ,
Any update on this issue , kinda critical issue if some one points to me to right direction i might able to solve it !

[2017-01-03 19:08] ssotomayor commented on #57
@matt212 Try my fork.

The problem was here:

                scope.updateSelected = function () {
                    if (!scope.multiple) scope.selectedValues = (scope.options || []).filter(function (option) { return scope.optionEquals(option); }).slice(0, 1);
                    else {
                        var val;
                        val = (scope.value || []).map(function (value) {

[2017-01-04 06:34] matt212 commented on #57
Hi @ssotomayor  ,
you are life saver ! thanks for insight and patch !

[2017-01-04 12:34] matt212 opened #73 "Assign values in Remote fetching with custom service Mode"
1.)how to use (angular-selector)create function to assign values to multi select  in basic edit functionality ,

my case scenario applies with Remote fetching with custom service
http://plnkr.co/edit/YdzF58o9ykYvMwP5Udza?p=preview

[2017-01-08 18:38] matt212 commented on #57
How can i add values using create feature not from user input but from angularjs file.
for eg :- instance of "selector" ,create (json object) and it should added to multiselect
Any suggestions ?
`

[2017-01-09 05:26] rlstrowbridge commented on #21
Hi! I love your project. It's literally exactly what I've been looking for in my app for some time. I did some digging and it looks like the problem is with IE/Edge. Whenever you click on a scrollbar, it will remove focus from the input.

I modified the section of code that controls this to fix this issue with IE/Edge without affecting other browsers.

Here's the fix for anyone that's interested.

[2017-02-14 17:48] Iazzetta opened #76 "CSS broken when I will select an option"
I have many selectors in my form. I using bootstrap to grid them.
When I click to select some option, the angular-selector broken my CSS.

![m4ejwyh](https://cloud.githubusercontent.com/assets/10570792/22941542/fc889b64-f2cc-11e6-96c3-8d90ef29e836.png)

[2017-02-14 18:04] Iazzetta commented on #76
To fix this in my case, I set position absolute in **.selector-container** and form-group **margin-bottom** to 50px.

[2017-02-14 18:04] #76 closed, assigned to nobody

[2017-02-14 18:11] indrimuska commented on #76
Hi @lazzetta, your issue should be solved using [Bootstrap's responsive grid reset utilities](http://getbootstrap.com/css/#grid-responsive-resets).
Your solution is still affected by this issue if you increase the height of one grid cell element.

[2017-02-14 18:17] Iazzetta commented on #76
hm.. I try use grid reset but not work. But my poor solutions resolve my problem haha
thanks

[2017-03-19 22:59] alienriquebm opened #77 "The variable associated with model it turns undefined"
Hi my friend, first of all thanks for your excellent work with this plugin. I try to use it on this example:

1) I want that the user picks a car models from a list when fill a new vehicle information, so i put this for this:

[code]

   Well.. this works like a charm... but...

2. When i try to EDIT the data of a particular vehicle with this another HTML code (on another HTML form):

[code]

The

[2017-03-26 07:54] farooqhanif-Dev opened #78 "change eventhandler not firing"
here is my html:

`<select selector multi="true" model="mySelectedOptions" remote="myOptions"   change="updateMySelectedOptions" value-attr="optionIdAlt" view-item-template="'selectedOptionsTemplate'" dropdown-item-template="'availableOptionsTemplate'"></select>`

and here is the snippet from controller:
`$scope.updateMySelectedOptions= function(newValue, oldValue) { }`

[2017-04-03 07:42] deepak-manwal opened #79 "Default search of select box uses contains filter"
When user is typing in selector it gives all items contains that letter. Can it give only items starting form letter?
Like default select box

[2017-04-20 07:21] emrahyigit commented on #78
Try as follows:

in the controller:
`$scope.updateMySelectedOptions= function(oldValue, newValue) { }`

and in your html:
`change="updateMySelectedOptions(oldValue, newValue)"`

[2017-04-21 11:26] emrahyigit opened #80 "Any way to integrate slimscroll to this control?"
Hello,

Has anyone tried integrating angular-slimscroll to this control?

[2017-05-22 15:02] gullocean opened #81 "Scroll Not working"
I love this package very much.. but I have one question for now.
I am using the perfect-scroll angular package for custom scrollbar.. And I am using the angular-selector for my custom select box. When I scroll within drop down list, the all page are being scrolled instead of scrolling the drop down lists. what parameter are there in order to fix this case?

[2017-06-01 20:28] rrzadzki opened #82 "Sets model to null on init"
I have a controller for managing an instance of an angular resource, here a Contract, and a selector for choosing a Venue for the property Contract.Venue.

Selecting the venue with the selector works correctly; the property is set and saved to the server. On refresh however, the selector does not display the current value and in fact sets Contract.Venue to null on init.

Expected behavior: as with

[2017-06-10 14:24] nagenderRawat opened #83 "Accessibility issue jaws"
Whenever i'am trying to change option through keystroke in dropdown(using up arrow and down arrow) jaws(screen reader) does not read the focused option.

[2017-06-16 14:08] sodsingh opened #84 "Not able to add disable separator on option. 8i7uuou88000⁰vvv"
Not able to add disable separator on option.

[2017-06-30 21:00] m4rky77 opened #85 "Manual update of the model, doesn't work without value-attr"
Hi,

I try to make a manual update or set a initial value to the model and it doesn't work.
This is the plunk with the issue:

http://plnkr.co/edit/aldZtMvtq37yuielg757?p=preview

Thank you

[2017-09-06 18:53] Alberto-Velez opened #86 "disableSearch is not stopping input"
I am having trouble getting disableSearch to work.

[2017-11-19 11:44] taltsi opened #87 "Select doesn't open when clicking on placeholder text if the model is empty"
The issue exists at least with the latest Firefox and Chrome, and can be seen e.g. at http://indrimuska.github.io/angular-selector/ with "RTL Support" demo when trying to open the select by clicking the placeholder text -- which is the intuitive way to do it.

My workaround to the problem for the time being is to just always display the select on click:
`onDropdownClick() {
    if (typeof this.dro

[2018-01-29 15:37] jeeyyy commented on #24
This is fixed in a high performance variant/fork of the same component:
https://github.com/jkodu/angular-selector-on-steroids

Refer enhanced example page - https://jkodu.github.io/angular-selector-on-steroids/ (allow unsafe scripts)

I had to support IE11, Chrome, Firefox and Safari, so the above module has covered manual tests of the same. The above module is used in production with no issues fo

[2018-01-29 15:39] jeeyyy commented on #21
This is fixed in a high performance variant/fork of the same component:
https://github.com/jkodu/angular-selector-on-steroids

Refer enhanced example page - https://jkodu.github.io/angular-selector-on-steroids/ (allow unsafe scripts).

[2018-01-29 15:39] jeeyyy commented on #39
This is fixed in a high performance variant/fork of the same component:
https://github.com/jkodu/angular-selector-on-steroids

Refer enhanced example page - https://jkodu.github.io/angular-selector-on-steroids/ (allow unsafe scripts).

[2018-01-29 15:40] jeeyyy commented on #57
This is fixed in a high performance variant/fork of the same component:
https://github.com/jkodu/angular-selector-on-steroids

Refer enhanced example page - https://jkodu.github.io/angular-selector-on-steroids/ (allow unsafe scripts).

[2018-01-30 15:48] ssotomayor commented on #57
@jkodu oh wow, did you fix the remote fetching issue mentioned above? Can't get the options to load up on your example page.

[2018-01-30 17:57] jeeyyy commented on #57
Have you allowed unsafe scripts along the prompt on the address bar?

[2018-01-30 20:15] jeeyyy commented on #57
@ssotomayor see comment above.

[2018-03-22 15:40] rposborne commented on #86
I am seeing the same thing on iOS, it looks like the input is used to capture input so it cannot just be hidden. Ng adds a read only attribute that we can hook on to but I have not figured out the combination needed to solve

[2018-06-21 13:38] sajid9 opened #88 "i am using remote fetching method when i search a word and select it remove the old selected values"
i am using remote fetching method when i search a word and select it remove the old selected values

[2019-07-08 13:29] saxenarajat opened #89 "Accessibility issue with empty Labels"
I am getting a bunch of "Empty label" errors in Wave accessibility reports. Does anyone have any idea about how to address this issue?

[2020-03-09 22:36] vgavrilovikj opened #90 "How to send selected data to POST?"
How can I send the selected items to POST? If I only attach name="authors[]", this is what I get in POST:

 [authors] => Array
        (
            [0] => object:66
            [1] => object:70
        )

How can I get the value instead of object?

[2021-06-17 19:13] #81 closed, assigned to nobody